<!DOCTYPE html>
<html>
  <head>
    <title>Fritter</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/users/logout">Log out</a>
    <h1> <a href='/'>Fritter</a> </h1>
    <h2>Hi <%= user%>!</h2>
    <p>What's on your mind?</p>
    <form method="post" action="users/freet">
      <textarea  name = 'freet' rows="4" cols="50"></textarea>
      <p><button type="submit">Freet?</button></p>
    </form>

    <h2>Your Freets</h2>
    <div id='container'>
      <ul>
        <% for(var i=0; i<freets.length; i++) { %>
          <li class = "freets2">
            <p class = "freet"><%= freets[i].freet%></p>
            <p class = "lighten">by <b><%= freets[i].user%></b> <%= " on " + freets[i].date%></p>
            <a href=<%= "/users/edit/" + freets[i]._id.valueOf()%>> Edit |</a> <a href=<%= "/users/delete/" + freets[i]._id.valueOf()%>> Delete </a>
          </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
